<mat-toolbar color="warn">
    <mat-toolbar-row>
        <span>Funao</span>
        <span class="topbar-spacer"></span>
        <button mat-button (click)="createFuna()">
            Funar a alguien!
        </button>
        <button *ngIf="!user" mat-icon-button (click)="login()">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button *ngIf="user" mat-icon-button (click)="login()">
            <img [src]="user.photoURL" height="100" class="thumbnail">
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>