@import '~@angular/material/theming';

@include mat-core();

// custom background and foreground palettes
$my-dark-theme-background: (
  status-bar: rgb(248, 61, 61),
  app-bar:    map_get($mat-blue, 900),
  background: rgb(14, 14, 14),
  hover:      rgba(white, 0.04), 
  card:       rgb(24, 24, 24),
  dialog:     map_get($mat-grey, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$my-dark-theme-foreground: (
  base:              rgb(248, 61, 61),
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              rgb(240, 240, 240),
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-wonky-theme($primary, $accent, $warn: mat-palette($mat-grey)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $my-dark-theme-foreground,
    background: $my-dark-theme-background,
  );
}

// The rest of this is like a normal theme.scss file. The only difference being that we use create-wonky-theme instead of mat-light-theme
$custom-theme-primary: mat-palette($mat-red, 500);
$custom-theme-accent: mat-palette($mat-blue);
$custom-theme-warn: mat-palette($mat-grey, 900);

$custom-theme: create-wonky-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
@import "./grid.css";


html {
    height: 100%;
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
    height: 100%;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height:100%; /* force the BODY element to match the height of the HTML element */
}

#dark {
    position:absolute;
    top: 54px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
}

.create-funa-dialog .mat-dialog-container {
  width: 100vw !important;
}

.mat-dialog-actions {
  justify-content: flex-end;
}


/* custom scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(71, 71, 71);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3b3b3b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 129, 129);
}